@model Asp.net_MVC_TP_6.Models.Pilote

@{
    ViewBag.Title = "Supprission";
}

<h3 style="text-align:center;">Supprission</h3>

<p style="color:red;">Ete vous sur de vouloir supprimer ce pilote?</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomPil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomPil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrenomPil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrenomPil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prime)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour a la liste", "Index")
        </div>
    }
</div>
